@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <p>@Model.Data.Name</p>
    <p>@Model.Data.Location</p>
</div>

<div>
    @foreach (var item in Model.Data.Events)
    {
        <p>@item.Name</p>
        <p>@item.Description</p>
        <p>@item.StartDate</p>
    }
</div>